@model IEnumerable<Pathology.ViewModels.UserData>

@{
    ViewData["Title"] = "UserMgmt";
}

<h1>Staff List</h1>

<p>
    <a asp-controller="Home" asp-action="Register">Create New</a>
</p>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr style="background-color:aquamarine">
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Date Of Joining
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Roles)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.joinDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles)
                </td>
                <td>
                    <form method="post" asp-action="DeleteUser" asp-route-id="@item.Id">

                        <a class="btn btn-primary" asp-action="EditUser" asp-route-id="@item.Id">Edit</a>

                        <span id="confirmDeleteSpan_@item.Id" style="display:none">
                            <span>delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary"
                               onclick="confirmDelete('@item.Id', false)">No</a>
                        </span>
                        <span id="deleteSpan_@item.Id">
                            <a href="#" class="btn btn-danger"
                               onclick="confirmDelete('@item.Id', true)">Delete</a>
                        </span>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-warning">
        <p>No staff created yet</p>
    </div>
}
<div class="text-center">
    @{
        if (User.IsInRole("Associated Doctor"))
        {
            <a asp-controller="Account" asp-action="DashAD">Back to Dashboard</a>
        }
        else if (User.IsInRole("Lab Assistant"))
        {
            <a asp-controller="Account" asp-action="DashLA">Back to Dashboard</a>
        }
        else if (User.IsInRole("Desk Staff"))
        {
            <a asp-controller="Account" asp-action="DashDS">Back to Dashboard</a>
        }
    }
</div>