@model IEnumerable<Pathology.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Patient Index</h1>

<p>
    <a asp-controller="Patients" asp-action="Create">Add New Patient</a><br />
</p>
<table class="table">
    <thead style="background-color:aqua">
        <tr>
            <th>
                Patient Name
            </th>
            <th>
                Patient Email
            </th>
            <th>
                Patient Aadhar ID
            </th>
            <th>
                Patient Health Issues
            </th>
            <th>
                Date Of Birth
            </th>
            <th width="320">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientAadharID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientHealthIssues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientID" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.PatientID" class="btn btn-success">Details</a>
                <a asp-action="Delete" asp-route-id="@item.PatientID" class="btn btn-danger">Delete</a>
                <a asp-controller="RegisterPatients" asp-action="Create" asp-route-id="@item.PatientID" class="btn btn-primary">Register</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="text-center">
    <a asp-controller="Account" asp-action="DashAD">Back to Dashboard</a>
</div>
