@model Pathology.Models.RegisterPatient

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Registered Patient</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Patient ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientID)
        </dd class>
        <dt class="col-sm-2">
            Test Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestMgmt.TestName)
        </dd class>
        <dt class="col-sm-2">
            Package Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Package.PackageName)
        </dd class>
        <dt class = "col-sm-2">
            Register DateTime
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegDateTime)
        </dd>
        <dt class = "col-sm-2">
            Total Amount
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            Registered By
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd class>
        <dt class = "col-sm-2">
            Is Report Generated
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReportGenerated)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RegisterID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
