@model Pathology.Models.RegisterPatient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegisterPatient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientAadharID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestMgmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestMgmt.TestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Package)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Package.PackageDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReportGenerated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReportGenerated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoportPDF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoportPDF)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RegisterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
