@model IEnumerable<Pathology.Models.RegisterPatient>

@{
    ViewData["Title"] = "Index";
}

<h1>Registered Patient Index</h1>

<p>
    <a asp-controller="Patients" asp-action="PatientSearch">Add New</a>
</p>
<table class="table">
    <thead style="background-color:aqua" align="center">
        <tr>
            <th>
                Patient Name
            </th>
            <th>
                Test Name
            </th>
            <th>
                Package Name
            </th>
            <th>
                Register DateTime
            </th>
            <th>
                Total Amount
            </th>
            <th>
                Registered By
            </th>
            <th width="200">
                Report PDF
            </th>
            <th width="240">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.PatientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestMgmt.TestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Package.PackageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.fName) @item.User.lName
                </td>
                <td align="center">
                    @if (item.IsReportGenerated)
                    {
                        <a asp-action="DownloadPdf" asp-route-id="@item.RegisterID" class="btn btn-success">Download</a>

                        @if (!User.IsInRole("Desk Staff"))
                        {
                            <a asp-action="FileDelete" asp-route-id="@item.RegisterID" class="btn btn-danger">Delete</a>
                        }
                    }
                    else
                    {
                        @if (!User.IsInRole("Desk Staff"))
                        {
                            <a asp-action="FileUpload" asp-route-id="@item.RegisterID" class="btn btn-primary">Upload</a>
                        }
                        else
                        {
                            <a>Not Uploaded</a>
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RegisterID" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.RegisterID" class="btn btn-success">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.RegisterID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <a asp-controller="Account" asp-action="DashDS">Back to Dashboard</a>
</div>
