@model List<Pathology.Models.RegisterPatient>
@{
    ViewData["Title"] = "RegPatientSearch";
}
<div class="text-center">
    <h1>Search Registered Patient</h1>
</div>
<br />
<br />
<form asp-controller="RegisterPatients" asp-action="RegPatientSearch" method="get">
    <div class="row justify-content-center">
        <div class="input-group col-md-4">
            <input type="date" class="form-control" name="SearchTerm" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </div>
</form>
<br />
<br />
<br />
@if (Model != null)
{
    @if (Model.Count == 0)
    {
        <table class="table" align="center">
            <thead>
                <tr>
                    <td align="center">
                        No Match Found
                    </td>
                </tr>
            </thead>
        </table>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Patient Name
                    </th>
                    <th>
                        PackageName
                    </th>
                    <th>
                        TestName
                    </th>
                    <th>
                        TotalAmount
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient.PatientName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TestMgmt.TestName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Package.PackageName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                        <td>
                            @{var parms = new Dictionary<string, string>
                                                      {
                                { "PatientName", item.Patient.PatientName },
                                { "TestName", item.TestMgmt.TestName },
                                { "PackageName", item.Package.PackageName }
                              };
                            }
                            @{
                                if (item.IsPaymentDone)
                                {
                                    <a>Payment Done</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-all-route-data="parms" asp-route-id="@item.RegisterID" asp-controller="Payments" asp-action="Create">Go To Payment</a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
<div class="text-center">
    @{
        if (User.IsInRole("Associated Doctor"))
        {
            <a asp-controller="Account" asp-action="DashAD">Back to Dashboard</a>
        }
        else if (User.IsInRole("Lab Assistant"))
        {
            <a asp-controller="Account" asp-action="DashLA">Back to Dashboard</a>
        }
        else if (User.IsInRole("Desk Staff"))
        {
            <a asp-controller="Account" asp-action="DashDS">Back to Dashboard</a>
        }
    }
</div>
