@model IEnumerable<Pathology.Models.Package>

@{
    ViewData["Title"] = "Index";
}

<h1>Package List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" align="center">
    <thead style="background-color:aqua">
        <tr>
            <th>
                Package Name
            </th>
            <th width="400">
                Package Description
            </th>
            <th>
                Package Price
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackagrPrice)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.PackageID" class="btn btn-primary">Edit</a>
                
                    <a asp-action="Details" asp-route-id="@item.PackageID" class="btn btn-success">Details</a>

                    <a asp-action="Delete" asp-route-id="@item.PackageID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            }
        </tbody>
</table>
<div class="text-center">
    @{
        if (User.IsInRole("Associated Doctor"))
        {
            <a asp-controller="Account" asp-action="DashAD">Back to Dashboard</a>
        }
        else if (User.IsInRole("Lab Assistant"))
        {
            <a asp-controller="Account" asp-action="DashLA">Back to Dashboard</a>
        }
        else if (User.IsInRole("Desk Staff"))
        {
            <a asp-controller="Account" asp-action="DashDS">Back to Dashboard</a>
        }
    }
</div>
