@model Pathology.Models.TestCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TestCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestCategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestCategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestCategoryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestCategoryDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TestCategoryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
