@model IEnumerable<Pathology.Models.TestCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Test Category List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead style="background-color:aqua">
        <tr>
            <th>
                Test Category Name
            </th>
            <th>
                Test Category Description
            </th>
            <th align="center" width="250">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestCategoryDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TestCategoryID" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.TestCategoryID" class="btn btn-success">Details</a>
                <a asp-action="Delete" asp-route-id="@item.TestCategoryID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="text-center">
    <a asp-controller="Account" asp-action="DashAD">Back to Dashboard</a>
</div>
